<% content_for :title, 'Score' %>

<% content_for :javascript do %> 
<%= javascript_include_tag 'score.js' %>
<% end %>

<div id="Score">
<div class="row">
<div class="medium-8 medium-centered columns">

<div class="text-center">
  <canvas id="Canvas"></canvas>
</div>

<div class="text-center">
  <button type="button" id="Play" class="button radius tiny">Play</button>
  <button type="button" id="Stop" class="button radius tiny">Stop</button>
  <button type="button" id="Clear" class="button radius tiny">Clear</button>
  <button type="button" id="Data" class="button radius tiny">Data</button>
</div>

<div class="text-center" style="margin:10px 0">
  <input type="range" id="Scroll">
</div>

<div class="text-center">
  <ul id="Track">
    <li>
      <label><input type="radio" name="track" value="t1" checked="checked"> <strong>Track1</strong></label>　
      <label><input type="checkbox" name="show" value="t1" checked="checked"> 表示</label>　
      <!--label>音量<input type="range" max="100" min="0" value="50"></label-->
    </li>
    <li>
      <label><input type="radio" name="track" value="t2"> <strong>Track2</strong></label>　
      <label><input type="checkbox" name="show" value="t2" checked="checked"> 表示</label>　
    </li>
  </ul>
</div>

<%= form_for(@score) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.text_field :name, class: 'radius', placeholder: 'score-name' %>
  <%= f.hidden_field :data, id: 'data' %>
  <%= f.submit '保存', class: 'button radius expand' %>
<% end %>

</div>
</div>
</div>