<% content_for :title, 'Score' %>
<% content_for :css do %><%= stylesheet_link_tag 'score' %><% end %>
<% content_for :js do %><%= javascript_include_tag 'editScore' %><% end %>

<div id="Score">
<div class="row">
<div class="medium-6 medium-centered columns">

<div class="text-center">
  <canvas id="Canvas"></canvas>
</div>
<div class="text-center">
  <button type="button" id="Play" class="button radius tiny">Play</button>
  <button type="button" id="Stop" class="button radius tiny">Stop</button>
  <button type="button" id="Clear" class="button radius tiny">Clear</button>
  <button type="button" id="Data" class="button radius tiny">Data</button>
</div>
<div class="text-center">
  <input type="range" id="Scroll" style="margin-top: -0.5rem;margin-bottom: 1rem;">
</div>

<div class="row">
  <div class="small-1 small-offset-2 columns" style="padding:0;text-align:right">
    <label style="font-size:0.75rem;height:1.5rem;line-height:1.5rem">BPM</label>
  </div>
  <div class="small-3 columns" style="padding-left:0.5rem;">
    <input type="number" id="Bpm" value="120" min="30" class="radius" style="padding:0;height:1.5rem;">
  </div>
  <div class="small-1 columns" style="padding:0;text-align:right">
    <label style="font-size:0.75rem;height:1.5rem;line-height:1.5rem">小節</label>
  </div>
  <div class="small-3 columns end" style="padding-left:0.5rem;">
    <input type="number" id="Measure" value="2" min="2" class="radius" style="padding:0;height:1.5rem;">
  </div>
</div>

<% checked_arr = [] %>
<%= form_for(@score) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <!--トラック-->
  <ul>
  <%= f.fields_for :notes, @score.notes.sort_by(&:id) do |notes_fields| %>
  <li style="margin-bottom:0.75rem;">
    <%= notes_fields.hidden_field :id %>
    <% note_num = notes_fields.options[:child_index]+1 %>
    <% note_user = notes_fields.object.user %>

    <!-- 編集ラジオボタン判定 -->
    <% if !checked_arr.index(note_user.id) && current_user == note_user%>
      <% checked = "checked=checked" %>
      <% checked_arr << note_user.id %>
    <% end %>

    <!--トラック-->
    <strong>Track<%= note_num %></strong>
    <!--表示-->
    <label class="text-small"><input type="checkbox" name="show" value="<%= note_num %>" checked="checked" style="vertical-align:0;margin-bottom:0;">表示</label>
    <!--編集-->
    <% if current_user == note_user %>
      <label class="text-small"><input type="radio" <%= checked %> name="track" value="<%= note_num %>" style="vertical-align:0;margin-bottom:0;">編集</label>
    <% else %>
      <label class="text-small"><input type="radio" <%= checked %> name="track" value="<%= note_num %>" style="vertical-align:0;margin-bottom:0;" disabled='disabled'>編集</label>
    <% end %>
    <!--削除-->
    <% if current_user == note_user && note_num != 1 %>
      <label class="text-small"><%= notes_fields.check_box :_destroy, style:'vertical-align:0;margin-bottom:0;' %>削除</label>
    <% else %>
      <label class="text-small"><%= notes_fields.check_box :_destroy, style:'vertical-align:0;margin-bottom:0;', disabled:'disabled' %>削除</label>
    <% end %>
    <!--作成者-->
    <span class="text-small">created by </span><strong><%= notes_fields.object.user.username %></strong>
    <!--Data-->
    <%= notes_fields.hidden_field :data, id: 'data'+(notes_fields.options[:child_index]+1).to_s %>
  </li>
  <% end %>
  </ul>

  <!--曲名-->
  <%= f.label :name %>
  <% if current_user == @score.owner %>
    <%= f.text_field :name, class: 'radius' %>
  <% else %>
    <%= f.text_field :name, class: 'radius', readonly: 'readonly' %>
  <% end %>
  <!--送信-->
  <%= f.submit '更新', class: 'button radius expand' %>
  <!--トラック追加-->
  <div class="text-center" style="margin-top:0.5rem"><%= link_to 'トラック追加', notes_path(note: {score_id: @score.id, user_id: current_user.id}), method: :post %></div>

<% end %>

</div>
</div>
</div>
