<% content_for :title, 'Score' %>

<div id="Score">
<div class="row">
<div class="medium-6 medium-centered columns">

  <%= form_for(@score) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'radius' %>

    <%= f.fields_for :notes do |notes_fields| %>
      <%= notes_fields.hidden_field :score_id, value: @score.id %>
      <%= notes_fields.hidden_field :user_id, value: current_user.id %>
    <% end %>

    <%= f.submit '新規作曲', class: 'button radius expand' %>
  <% end %>

</div>
</div>
</div>
