<% content_for :title, @score.name %>
<% content_for :css do %><%= stylesheet_link_tag 'score' %><% end %>
<% content_for :js do %><%= javascript_include_tag 'showScore' %><% end %>


<div id="Score">
<div class="row">
<div class="medium-6 medium-centered columns">

  <h2><%= @score.name %></h2>

  <div id="Frame"><canvas id="Canvas"></canvas></div>

  <div class="text-center" style="margin-bottom:0.75rem;">
    <a href="#" id="ArrowLeft" style="vertical-align: middle;"><i class="fa fa-arrow-circle-o-left fa-lg"></i></a>
    <input type="range" id="Scroll">
    <a href="#" id="ArrowRight" style="vertical-align: middle;"><i class="fa fa-arrow-circle-o-right fa-lg"></i></a>
  </div>

  <div class="text-center" style="margin-bottom:0.75rem;">
    <button type="button" id="Play" class="button radius tiny" style="margin-bottom:0;">Play</button>
    <button type="button" id="Stop" class="button radius tiny" style="margin-bottom:0;">Stop</button>
  </div>

  <ul>
    <% @score.notes.order('id').each_with_index do |note, i| %>
    <li style="margin-bottom:0.75rem;font-size:0.75rem;">
      <strong>Track<%= i+1 %></strong>
      <label><input type="checkbox" name="show" value="<%= i+1 %>" checked="checked" style="vertical-align:0;margin-bottom:0;">演奏</label>
      <span>created by </span><strong><%= note.user.username %></strong>
    </li>
    <input type="hidden" class="TrackColor" value="<%= i+1 %>">
    <input type="hidden" id="data<%= i+1 %>" value="<%= note.data %>">
    <% end %>
  </ul>

  <div class="text-center" style="margin-bottom:0.75rem;">
    <%= link_to "https://twitter.com/intent/tweet?text=#{@score.name}｜&url=#{score_url(@score)}",target:"_blank" do %><i class="fa fa-twitter-square fa-lg" style="color:#fff;"><span class="text-small">ツイート</span></i><% end %>
    <%= link_to "http://www.facebook.com/sharer.php?u=#{score_url(@score)}",target:"_blank" do %><i class="fa fa-facebook-square fa-lg" style="color:#fff;"><span class="text-small">シェア</span></i><% end %>
  </div>

  <div class="text-center" style="margin-bottom:0.75rem;">
    <% if user_signed_in? %>
      <span class="text-small"><%= link_to '共同編集', edit_score_path(@score) %></span>
    <% end %>
    <% if current_user == @score.owner %>
      <span class="text-small"><%= link_to '削除', @score, method: :delete, data: { confirm: '本当に削除しますか？' } %></span>
    <% end %>
  </div>

</div>
</div>
</div>
