<% content_for :title, @score.name %>
<% content_for :style do %><%= stylesheet_link_tag 'score' %><% end %>
<% content_for :script do %><%= javascript_include_tag 'showScore.js' %><% end %>

<div id="Score">
<div class="row">
<div class="medium-6 medium-centered columns">

<div class="wrapper">
  <h1>
    <%= @score.name %>
    <% if current_user == @score.user %>
      <span class="text-small"><%= link_to '編集', edit_score_path(@score) %></span>
      <span class="text-small"><%= link_to '削除', @score, method: :delete, data: { confirm: '本当に削除しますか？' } %></span>
    <% end %>
  </h1>
  <canvas id="Canvas"></canvas>
  <span id="Data" data-score=<%= @score.data %>></span>

  <div class="text-center">
    <button type="button" id="Play" class="button radius tiny">Play</button>
    <button type="button" id="Stop" class="button radius tiny">Stop</button>
  </div>

  <div class="text-center" style="margin-top:1rem;">
    <%= link_to "https://twitter.com/intent/tweet?url=#{score_url(@score)}",target:"_blank" do %><i class="fa fa-twitter-square fa-lg" style="color:#fff;"><span class="text-small">ツイート</span></i><% end %>
    <%= link_to "http://www.facebook.com/sharer.php?u=#{score_url(@score)}",target:"_blank" do %><i class="fa fa-facebook-square fa-lg" style="color:#fff;"><span class="text-small">シェア</span></i><% end %>
  </div>
</div>

</div>
</div>
</div>
