<% if user_signed_in? %>
  <% content_for :title, 'Home' %>
  <div id="Home">
  <div class="row">
  <div class="medium-6 medium-centered columns">
    <h1>Home</h1>
    <% if @scores.any? %>
      <ul>
      <% @scores.each do |score| %>
        <li>
          <h2><%= link_to score.name, score_path(score) %></h2>
          <p>
            <span class="text-small"><%= link_to '共同編集', edit_score_path(score) %></span>
            <% if current_user == score.owner %>
              <span class="text-small"><%= link_to '削除', score, method: :delete, data: { confirm: '本当に削除しますか？' } %></span>
            <% end %>
          </p>
          <p><span class="text-small">created by </span><strong><%= link_to score.owner.username, user_path(score.owner.username) %></strong></p>
          <p>
            <% score.notes.each do |collaborators| %>
              <% if collaborators.user.present? && score.owner != collaborators.user %>
                <span class="text-small">collaborators</span>
                <strong><%= link_to collaborators.user.username, user_path(collaborators.user.username) %></strong>
              <% end %>
            <% end %>
          </p>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>
  </div>
  </div>
<% else %>
  <div id="Top">
  <div class="row">
  <div class="medium-6 medium-centered columns">
    <h1>ONLINE<br>シンプル作曲サービス<!--Your song, everywhere.--></h1>
    <p style="margin:0 auto;padding:0.5rem;width:20rem;font-size:0.75rem;border-top:1px solid #fff;border-bottom:1px solid #fff;">α版のため限定公開中。</p>

    <div style="margin-top:20px;">
      <h1 style="font-size:16px;color:#fff;">Twinkle Twinkle Little Star</h1>
      <div id="Frame" style="margin: 0 auto 1rem;width:320px;height:320px;overflow:scroll;border-radius:4px;"><canvas id="Canvas"></canvas></div>
      <div class="text-center">
        <button type="button" id="Play" class="button radius tiny">Play</button>
        <button type="button" id="Stop" class="button radius tiny">Stop</button>
      </div>
      <div class="text-center">
        <%= link_to "https://twitter.com/intent/tweet?text=オトグラム(仮)｜ONLINEシンプル作曲サービス｜&url=#{root_url}",target:"_blank" do %><i class="fa fa-twitter-square fa-lg" style="color:#fff;"><span class="text-small">ツイート</span></i><% end %>
        <%= link_to "http://www.facebook.com/sharer.php?u=#{root_url}",target:"_blank" do %><i class="fa fa-facebook-square fa-lg" style="color:#fff;"><span class="text-small">シェア</span></i><% end %>
      </div>
    </div>
    <input type="hidden" class="TrackColor" value="1">
    <input type="hidden" class="TrackColor" value="2">
    <input type="hidden" id="data1" value='{"note":[[13],[9],[11],[9],[13],[9],[11],[9],[13],[10],[13],[10],[9,11],[],[],[],[10,15],[13],[10,15],[13],[11,16],[13],[11,16],[13],[12,14],[16],[12],[14],[13,18],[],[],[],[18],[9],[18],[9],[19],[9],[19],[9],[20],[9],[20],[9],[21],[],[],[],[],[9,13],[],[9,13],[],[9,13],[],[9,13],[],[9,13],[],[9,13],[12,14],[],[],[],[18],[20],[18],[20],[18],[18],[18],[18],[17],[17],[17],[17],[9,18],[],[],[],[15],[17],[15],[14],[13],[16],[13],[],[12,16],[],[12,16],[],[13,18],[],[],[]],"bpm":100}'>
    <input type="hidden" id="data2" value='{"note":[[20],[],[20],[],[16],[],[16],[],[15],[],[15],[],[16],[],[],[],[17],[],[17],[],[18],[],[18],[],[19],[],[19],[],[20],[],[],[],[16],[],[16],[],[17],[],[17],[],[18],[],[18],[],[19],[],[],[],[16],[],[16],[],[17],[],[17],[],[18],[],[18],[],[19],[],[],[],[20],[],[20],[],[16],[],[16],[],[15],[],[15],[],[16],[],[],[],[17],[],[17],[],[18],[],[18],[],[19],[],[19],[],[20],[],[],[]],"bpm":100}'>
    <% content_for :js do %><%= javascript_include_tag 'showScore' %><% end %>

  </div>
  </div>
  </div>
<% end %>
